<h1>All Active Listings in My Area</h1>

<% @listings.each do |listing| %>
	
	<p><%= link_to listing.product, listing_path(listing) %></p>
 <% end %>

 <p><%= link_to 'Create a New Listing', new_listing_path %></p>