<div class="container">
  <div class="push_down_content_bc_nav">
    <h1>All Listings in My Area</h1>

	<% @listings.each do |listing| %>
		<p style="font-size: 20px; text-align: center;"><%= link_to listing.product, listing_path(listing) %></p>
	<% end %>

	<p class="btn-xl" style="margin: 0 auto; width: 400px;font-size: 25x; text-align: center;"><%= link_to 'Create a New Listing', new_listing_path %></p>

</div>
</div>