<h1>Welcome to Save with Me!</h1>

<img src="http://web.stanford.edu/group/wrugby/cgi-bin/new-site/wp-content/uploads/2013/11/Kleo.jpg">

<h2>What is "Save with Me"?</h2>
<p>Save with Me is a way of purchasing that helps you save your resources: time, money, and effort.</p>
<p>Ready to save?  <%= link_to "Click here!", listings_path %></p>
