<h1>Editing Your Portion</h1>

<p>You currently are signed up to claim <%= @portion.share %> shares</p>

<p>Please enter how many more shares you would like to add to your current portion.</p>

<p>Additional shares: </p>

<%= render 'form' %>