<h1>Editing Your Portion</h1>

<p>You currently are signed up to claim <%= @portion.share %> shares</p>

<p>Please enter how many total shares you would like.</p>

<p>Desired total shares: </p>

<%= form_for [@listing, @portion] do |f| %>
	<%= f.select :share, 1..@remaining %>

	<%= f.submit :submit %>
<%end%>