<div class="container">
  <div class="push_down_content_bc_nav">
    <h1>Create a new Portion</h1>

    <p>How many shares of <%= @listing.product.pluralize %> would you like?</p>

    <%= render 'form' %>
  </div>
</div>